/* Header CSS */
.header-bg-color{
    background-color: #264653;
    padding-bottom: 96px;
}


/* Navbar CSS */
.navbar{
    padding-top: 42px;
    padding-bottom: 69px;
}
.btn-login{
    color: white;
    background-color: #E76F51;
}


/* Header Banner CSS */

.btn-purchase{
    color: white;
    background-color: #E76F51;
    padding: 10px 46px;
}



/* Main Section Feature Part CSS */
.feature-text{
    font-weight: 600;
    font-size: 36px;
}
.best-bike-text{
    color: #E76F51;
}
hr{
    width: 10%;
    margin-right: auto;
    margin-left: auto;
    color: #E76F51;
}
.image-gray{
    filter: grayscale(100%);
}


/* Main section Latest News Part CSS  */

.latest-text{
    font-weight: 600;
    font-size: 36px;
}

.card-border-radius{
    border-radius: 20px;
}

.btn-read-more{
    border: 1px solid #E76F51;
    color: black;
    font-weight: 600;
}
.btn-read-more:hover{
    background-color: #E76F51;
    color: white;
}




/* Main section Happy Clients Part CSS  */


.happy-text{
    font-weight: 600;
    font-size: 36px;
}

.client-says-text{
    color: #E76F51;
}

.client-img{
    width: 149px;
    height: 149px;
}

.fa-star{
    color: #E77C40;
}

.client-name-text a{
    text-decoration: none;
}
.client-name-text{
    padding-top: 15px;
}   



/* Main section Frequently Asked Part CSS  */

.faq-text{
    font-weight: 600;
    font-size: 36px;
}
.question-text{
    color: #E76F51;
}



/* Footer Section Part CSS  */

.footer-bg-color{
    background-color: black;
}
.download-license{
    margin: 0px 30px;
}
ul li {
    list-style: none;
}
ul li a{
    
    color:  white;
    text-decoration: none;
    padding: 56px 20px;
}
.footer-text{
    margin-left: 20px;
}


.apps-logo{
    width: 150px;
    height: 40px;
}
.dummy-hr{
    width: 0px;
}










