/* Header CSS */
.header-bg-color{
    background-color: #264653;
}


/* Navbar CSS */
.navbar{
    padding-top: 42px;
    padding-bottom: 69px;
}
.btn-login{
    color: white;
    background-color: #E76F51;
}


/* Header Banner CSS */

.btn-purchase{
    color: white;
    background-color: #E76F51;
    padding: 10px 46px;
}